.addReview {
  max-width: 60%;
  width: 100%;
  margin: 10px auto;
  padding: 20px;
  border: solid 1px #f1f1f1;
  background: #fbfbfb;
  box-shadow: #e6e6e6 0 0 4px;
  border-radius: 0.25rem;
  margin-top: 100px;
}

@media (max-width: 720px) {
  .addReview {
    max-width: 90%;
  }
}

@media (max-width: 500px) {
  .addReview {
    padding: 10px;
  }
}

.fh2 {
  padding: 2px 15px;
  color: #ff4d4d;
  text-align: center;
}

@media (max-width: 400px) {
  .fh2 {
    font-size: 20px;
  }
}

.fh6 {
  padding: 2px 15px;
  text-align: center;
  font-weight: normal;
}

@media (max-width: 400px) {
  .fh6 {
    font-size: 12px;
  }
}

.pinfo {
  margin: 8px auto;
  font-weight: bold;
  line-height: 1.5;
  color: #0d0d0d;
}
.ReviewSubmitBtn{

    display: inline-block;
    outline: 0;
    border:0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: #000;
    background: #fff;
    line-height: 30px;
    border-radius: 40px;
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
    box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px, rgb(246, 84, 174) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transition: all 0.2s;
    
    
}
.ReviewSubmitBtn:hover{
    box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px, rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transform: scale(1.01);
}
.review{
    margin-top: 90px;
    position: relative;
    border: solid 1px #f1f1f1;
    background: #fbfbfb;
    box-shadow: #e6e6e6 0 0 4px;
    border-radius: 0.25rem;
    cursor: pointer;
}
.reviewCard{
  position: relative;
  left: 21%;
  max-width: 60%;
  width: 100%;
  margin: 80px auto;
  padding: 20px;
  border: solid 1px #f1f1f1;
  background: #fbfbfb;
  box-shadow: #e6e6e6 0 0 4px;
  border-radius: 0.25rem;
  cursor: pointer;
}
.reviewCard:hover{
  transform: scale(102%);
}
.reviewPagination{
  position: relative;
  left: 20%;

}