.review-rating-section{
  margin-top: 100px;
  border: 2px solid black;
  border-radius: 4px;
  padding: 20px;
  font-size: 14px;
  color: #8f1f8f;
}
.rating-section{
  display: flex;
  margin-top: 100px;
}
.rating-section-overall{
  display: flex;
  flex-direction: column;

}
.overall-rating {
  font-size: 24px;
  font-weight: bold;
}
.rating-section-histogram{
  margin-left: 100px;
}
.star-row{
  display: flex;
  justify-content: space-between;
}
.star-filled{
  margin-left: 50px;
  margin-right: 100px;
  background-color: aqua;
}
.star-count{
  margin-left: 10px;
}
.all_reviews{
  margin-top: 80px;
  font-size: 15px;
}
.single_review{
  margin-top: 40px;
}
.single_review_user{
  font-size: 24px;
  font-weight: 600;
}
