.Product{
    margin-top: 80px;
}
.product-grid{
    display: grid;
    width: 100%;
    grid-template-rows: 2fr 1fr ;
    column-gap: 12px;
    grid-template-columns: 3fr 3fr ;
}
.p-g-right-title{
    padding-top: 50px;
    padding-bottom: 1px;
}
.product-desc{

    padding-top:20px ;
    padding-bottom: 5px;
    color: darkgrey;
}
.product-rating{
    padding-top: 30px;
}
.product-btn{
    width: 60%;
}
.ProductBrand{
    color: blue;
    cursor: pointer;
}
.btn-pro-pri{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 17px 48px;
    color: #fff;
    background-color: #1ED760;
    height: 48px;

}
.btn-pro-pri:hover{
    transform: scale(1.04);
    background-color: #21e065;
}
.btn-pro-sec{
    height: 50px;
    width: 270px;
    margin-left: 15px;
}
.p-g-left{
    width: 520px;
    height: 500px;
}
.pro-img-box{
    padding-top: 120px;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    top: -130px;
    max-height: 300px;
    min-height: 600px;
}
.heartIcon{
    cursor: pointer;
    font-size: 40px;
}
.ProductDescriptionTitle{
    margin-top: 130px;
    margin-bottom: 40px;
    text-align: center;
    font-style: italic;
}
.subProductSectionTitle{
    text-align: center;
    padding: 20px;
    font-size: 40px;
    font-family: cursive;
    font-style: italic;
}
.subProductSection{
    margin-top: -100px;
}
.subProductCardSlider{
    /* margin-top: -50px; */
    padding: 80px;
}
.subProductCard{
    height: 350px;
    border: 4px solid black;
    border-radius: 10px;
    margin-left: 60px;
    width: 280px;
    cursor: pointer;
}
.subProductCardTop{
    width: 100%;
    height: 70%;
}
.subProductCardImage{
    width: 100%;
    height: 100%;
}
.subProductCardImage:hover{
    opacity: 0.7;
}
@media screen and (max-width: 480px){
    .product-grid{
        row-gap: -200px;
    }
    .p-g-left {
        width: 250px;
        left: auto;
        right: auto;
    }
    .pro-img-box{
        width: 400px;
        left: -70px;
    }
    .p-g-right{
        position: relative;
        row-gap: 10px;
        grid-row-start: 2;
        width: 315px;
    }
    .btn-pro-pri{
        position: relative;
        left: -10px;
        width: 140px;
    }
    .btn-pro-sec{
        width: 110px;
    }
}


