.Search {
    font-family: sans-serif;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;

}

.search-container{
    width: 820px;
    margin-left: 400px;
}

.dropdown {
   color: aliceblue;
    display: flex;
    flex-direction: column;
}

.dropdown:empty {
    border: none;
}

.dropdown-row {
    width: 400px;
    margin-top: 1px;
    cursor: pointer;
    color: blueviolet;
    text-align: start;
    margin: 2px 0;
    font-size: 12px;
}
.dropdown-row:hover{
    color: blue;
}

.input-search {
    width: 400px;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
    caret-color:navy; 
    margin-bottom: 12px;
    border: none;
}

.search-inner {
    display: flex;
}
.search-btn{
    margin-left: 5px;
    cursor: pointer;
}
@media screen and (max-width: 480px) {
    .button {
        display: none;
    }
    .search-container{
        width: 320px;
    }
}